
<main id="div1">
<div class="full-width parallax1 px-o container-fluid vcenter">
    <h1 class = "heading">Welcome to Stock-Trainer!</h1>
    <br>
    <a href = "#sec1" class = "black-bg">Get Started</a>
</div>
<div class="parallax1"></div>
<div class=" full-width v2center container-fluid px-o" id = "sec1">
  <div class="row align-items-center content">
              <div class="col-md-6 order-2 order-md-1 pg2">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcReR6tBcMeVsK5uuZYVg7OdXUZ15n0QLCEEo2tOzs_fnd-ceN10&usqp=CAU" width="700" height="800" class="img-fluid  mb mt">
              </div>
              <div class="col-md-6 text-center order-1 order-md-2">
                  <div class="row justify-content-center">
                      <div class="col-10 col-lg-8 blurb mb-5 mb-md-0">
                          <h2>About</h2>

                          <p class="lead">This is a website which gives you the experience of investing stocks on real-time prices.</p>
                      </div>
                  </div>
              </div>
          </div>
</div>
<div class="semi-width container-fluid px-o v3center ml pg3">
  <section id="services">
        <div class="section-header">
            <div>
                <h2>Services offered</h2><br><br>
            </div>
        </div>
        <div>
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="box">
                            <div class="circle"><i class="fa fa-rss"></i></div>
                            <h3>Live Stock Price</h3>

                            <p>Praesent magna neque, dapibus sit amet eros sed, aliquam interdum felis. Nulla rhoncus
                                ipsum dui.</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="box">
                            <div class="circle"><i class="fa fa-server"></i></div>
                            <h3>Make Portfolio</h3>

                            <p>Praesent magna neque, dapibus sit amet eros sed, aliquam interdum felis. Nulla rhoncus
                                ipsum dui.</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="box">
                            <div class="circle"><i class="fa fa-line-chart"></i></div>
                            <h3>Tune to Trend</h3>

                            <p>Praesent magna neque, dapibus sit amet eros sed, aliquam interdum felis. Nulla rhoncus
                                ipsum dui.</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="box">
                            <div class="circle"><i class="fa fa-handshake-o"></i></div>
                            <h3>Add Friends</h3>

                            <p>Praesent magna neque, dapibus sit amet eros sed, aliquam interdum felis. Nulla rhoncus
                                ipsum dui.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


<div class="parallax2">
	<div class="row">
		<div class="col-md-8 col-center m-auto">
			<h2 class = "white">What My Clients Say</h2>
			<div id="myCarousel" class="carousel slide" data-ride="carousel">
				<!-- Carousel indicators -->
				<ol class="carousel-indicators">
					<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
					<li data-target="#myCarousel" data-slide-to="1"></li>
					<li data-target="#myCarousel" data-slide-to="2"></li>
				</ol>
				<!-- Wrapper for carousel items -->
				<div class="carousel-inner">
					<div class="item carousel-item active black">
						<div class="img-box"><img src="https://cdn4.iconfinder.com/data/icons/people-avatar-1-2/512/7-512.png" alt=""></div>
						<p class="testimonial">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu sem tempor, varius quam at, luctus dui. Mauris magna metus, dapibus nec turpis vel, semper malesuada ante. Idac bibendum scelerisque non non purus. Suspendisse varius nibh non aliquet.</p>
						<p class="overview"><b>Paula Wilson</b>, Media Analyst</p>
					</div>
					<div class="item carousel-item black">
						<div class="img-box"><img src="https://cdn4.iconfinder.com/data/icons/people-avatar-1-2/512/7-512.png" alt=""></div>
						<p class="testimonial">Vestibulum quis quam ut magna consequat faucibus. Pellentesque eget nisi a mi suscipit tincidunt. Utmtc tempus dictum risus. Pellentesque viverra sagittis quam at mattis. Suspendisse potenti. Aliquam sit amet gravida nibh, facilisis gravida odio.</p>
						<p class="overview"><b>Antonio Moreno</b>, Web Developer</p>
					</div>
					<div class="item carousel-item black">
						<div class="img-box"><img src="https://cdn4.iconfinder.com/data/icons/people-avatar-1-2/512/7-512.png" alt=""></div>
						<p class="testimonial">Phasellus vitae suscipit justo. Mauris pharetra feugiat ante id lacinia. Etiam faucibus mauris id tempor egestas. Duis luctus turpis at accumsan tincidunt. Phasellus risus risus, volutpat vel tellus ac, tincidunt fringilla massa. Etiam hendrerit dolor eget rutrum.</p>
						<p class="overview"><b>Michael Holz</b>, Seo Analyst</p>
					</div>
				</div>
				<!-- Carousel controls -->
				<a class="carousel-control left carousel-control-prev" href="#myCarousel" data-slide="prev">
					<i class="fa fa-angle-left"></i>
				</a>
				<a class="carousel-control right carousel-control-next" href="#myCarousel" data-slide="next">
					<i class="fa fa-angle-right"></i>
				</a>
			</div>
		</div>
	</div>
</div>
<div class="parallax2"></div>

<div class="my-width coffee">

  <section id="contact">
        <div class="section-header">
            <div><br>
                <h1 align = "center">CONTACT ME</h1><br>

                <p align = "center">Please fill the form below. I will contact you as soon as possible.</p>
            </div>
        </div>
        <div class="container">
            <div id="form-messages"></div>
            <div class="form-wrap">
                <form id="contact-form" action="api/contact.php" method="post" autocomplete="off">
                    <div class="row  align-items-center">
                        <div class="col-12 col-sm-6">
                            <input class="form-control mb mt" type="text" placeholder="Your Name" name="name" id="name" required="">
                            <input class="form-control mb mt" type="text" placeholder="E-mail" name="email" id="email" required="">
                            <input class="form-control mb mt" type="text" placeholder="Subject" name="subject" id="subject" required="">
                        </div>
                        <div class="col-12 col-sm-6">
                            <textarea class="form-control" placeholder="Your Message" rows="7" name="message" id="message" required=""></textarea>
                        </div>
                    </div>
                    <br>
                    <div class="row  align-items-center">
                        <div class="col-12">
                            <button class="black-bg" type="submit">SEND MESSAGE</button><br><br><br>
                        </div>
                    </div>
                </form>
                <div id="ajaxLoad"></div>
            </div>
        </div>
    </section>
</div>
<!-- lol -->
</main>
<br>
<div class="down"><br>
<div id="contact2 mb">
        <div class="container">
            <div class="row withMap">


                <div class="col-12 big">
                    <div>
                        <i class="fa fa-map-marker"> </i> 20, Ramkrishna Society, Manjalpur, Vadodara, India.
                    </div>
                    <div>
                        <i class="fa fa-phone"> </i> +91 9712152709
                    </div>
                    <div>
                        <i class="fa fa-envelope"> </i> nishqdesai@gmail.com
                    </div>

                </div>

        </div>
    </div>
</div>
<br><br><br>

<footer class="footer black fixed mt">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6">
                    <p>Copyright © 2020 DeSinister</p>
                </div>
                <div class="col-12 col-sm-6 social">
                    <p class="pull-right">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-google"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-tumblr"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-youtube"></i></a>
                    </p>
                </div>
            </div>
        </div>
    </footer>
</div>
