<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  google.charts.load('current', {'packages':['line']});
  google.charts.setOnLoadCallback(drawChart);

function drawChart() {

  var data = new google.visualization.DataTable();
  var arr = <%=sliced%>;
  var temp = new Date();
  var month = ["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"]

  for(var i=0;i<arr.length;i++)
  {
  	temp.setDate(temp.getDate()-1);
    arr[arr.length - i -1][0]= temp.getDate() + " " + month[temp.getMonth()];
  }
  data.addColumn('string', 'Day');
  data.addColumn('number', 'High');
  data.addColumn('number', 'Low');
  data.addColumn('number', 'Open');
  data.addColumn('number', 'Close')

  data.addRows(arr);

  var options = {
    chart: {
      title: 'Stock Tracking',
      subtitle: 'in dollars (USD)'
    },
    width: screen.width * 0.55,
    height: screen.height * 0.45,
    axes: {
      x: {
        0: {side: 'top'}
      }
    }
  };

  var chart = new google.charts.Line(document.getElementById('line_top_x'));

  chart.draw(data, google.charts.Line.convertOptions(options));
}
</script>


<div id="line_top_x"></div>
